.admin-page {
  height: 75vh;
  margin: 5vh 20vw;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &_title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 2rem;
  }

  &_form {
    .creation-character_form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin: 0 auto;
      max-width: 400px;

      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      input {
        font-size: 1rem;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;

        &::placeholder {
          color: #888;
          transition: all 0.2s;
          transform-origin: top left;
        }

        &:focus::placeholder {
          transform: translateY(-27px);
          color: #53abee;
        }

        &:focus {
          border-color: #53abee;
        }
      }

      &_checkboxes {
        display: flex;
        justify-content: space-around;

        li {
          display: flex;
          gap: 10px;
        }
      }
    }
  }

  &_message_success {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    p {
      font-size: 2rem;
      text-align: center;
    }

    .progress-bar {
      height: 4px;
      background-color: #53abee;
      animation: progressBarAnimation 4s linear;
      width: 100%;
    }

    @keyframes progressBarAnimation {
      0% {
        width: 100%;
      }

      100% {
        width: 0%;
      }
    }
  }
}