.home-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 85vh;

    label {
        color: $secondary-color;
    }
    
    &_select {
        margin: 2rem 0 0 0;
        padding: 0.4rem 24px 0.4rem 24px;
        font-size: 24px;
        background-color: $secondary-color;


        option {
            background-color: $tertiary-color;
            font-family: $secondary-font;
            color: $secondary-color;
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 10px 100px #fff inset;
            }
        }
    }

    &_ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4%;
    }
}