.login_page {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

  li {
    img {
      animation: zoom infinite 8s ease-in-out;
    }


    p {
      span {
        color: #53abee;
      }
    }

  form {
    .recognition-area {
      display: flex;
      gap: 24px;
      align-items: center;
      justify-content: flex-start;

      input {
        width: 1rem;
      }
    }
  }

  p {
    text-align: center;
    margin: 24px;
  }
}
}

@media screen and (max-width: 800px) {
  .login_page {
    justify-content: center;
    
    &_logo {
      display: none;
    }
  }
}