.navbar {
    height: 15vh;
    background-color: $secondary-color;

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;

        li {
            &:last-child {
                margin-right: 4%;
                img {
                    height: 80px;
                }
            }

            a {
                img {
                    height: 100px;
                }
            }
        }
    }
}