.registration_page {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

  li {
    width: 30%;
    
    img {
      animation: zoom infinite 8s ease-in-out;
      height: 250px;
    }
  }
}

@media screen and (max-width: 600px) {
  .registration_page {
    justify-content: center;

    li {
      width: 70%;
      
      &:last-child {
        display: none;
      }
    }
  }
}